@charset "UTF-8";

table{
	width: 600px;
	margin: 20px auto;
	background-color: #cccccc55;
	padding: 40px;
}

th, td{
	margin: 10px;
	padding: 10px;
	text-align: center;
}

.header{
	font-size: 30px;
}

.header > span {
	color: blue;
	margin-right: 20px;
}

input[type="text"], input[type="password"], input[type="number"]{
	width: 300px;
	padding: 10px;
}

textarea{
	width: 300px;
	height: 100px;
}

input[type="button"] , input[type="submit"] , input[type="reset"] {
	width: 150px;
	height: 40px;
}